<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <link rel="stylesheet" href="/static/output.css" />
  </head>
  <body class="bg-gray-900"><script type="text/javascript"> 
 
    document.body.className += " hasJS"; 
     
           </script> 

           
    <h1 class="text-4xl text-gray-50 text-center pt-20">
      k8see-webui
    </h1>

    <a
      class="top-4 left-4 w-20 h-20 rounded-full bg-red-500 flex items-center justify-center absolute"
      href="/"
      >HOME</a
    >

    <hr class="w-80 m-auto" />

    <div class="container mx-auto flex flex-wrap justify-center p-8">
      <p  class=" table-auto text-xl text-red-500 text-center pb-10 pt-4 mx-5">
          {{ .ErrorMsg }}
      </p>
    </div>


  </body>
</html>
