<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <link rel="stylesheet" href="/static/output.css" />
  </head>
  <body class="bg-gray-900"><script type="text/javascript">document.body.className += " hasJS";</script> 

    <h1 class="text-4xl text-gray-50 text-center pt-5">
      k8see-webui
    </h1>
    <hr class="w-80 m-auto" />

    <div class="container flex h-50 bg-yellow-400 mx-auto my-5 justify-center cursor-pointer rounded"     >
      <form action="/" class="m-1">
        <div class="grid grid-cols-2 gap-4">
          <div>
            <label for="search">Search (Name):</label>
            <input id="search" name="search" value="{{ .Search }}" class="m-1 p-1 rounded">
            <br>
            <label for="year">Reason :</label>
            <select id="reason" name="reason" class="m-1 p-1 rounded">
              <option value=""></option>
              {{ range .Reasons }}
                {{ if eq . $.ReasonSelected }}
                  <option value="{{ . }}" selected> {{ . }}</option>
                {{ else }}
                  <option value="{{ . }}">{{ . }} </option>
                {{ end }}
              {{ end }}
            </select> 
            <br>

            <label for="type">type :</label>
            <select id="type" name="type" class="m-1 p-1 rounded">
              <option value=""></option>
              {{ range .Types }}
                {{ if eq . $.TypeSelected }}
                  <option value="{{ . }}" selected> {{ . }}</option>
                {{ else }}
                  <option value="{{ . }}">{{ . }} </option>
                {{ end }}
              {{ end }}
            </select> 
            <br>
          </div>
          <div>
            <label for="dbegin">Exported time range (begin):</label>
            <input type="datetime-local" id="dbegin"  name="dbegin" value="{{.Dbegin.Format "2006-01-02T15:04"}}" min="{{.Dmin.Format "2006-01-02T15:04"}}" max="{{.Dmax.Format "2006-01-02T15:04"}}" class="m-1 p-1 rounded">
            <br>
            <label for="dend">Exported time range (end):</label>
            <input type="datetime-local" id="dend"  name="dend" value="{{.Dend.Format "2006-01-02T15:04"}}" min="{{.Dmin.Format "2006-01-02T15:04"}}" class="m-1 p-1 rounded">
            <br>
          </div>
          <div>
            <input type="submit" value="Submit" class="m-2 p-2 rounded" >
          </div>
          <div>
            <a href="/" ><input type="button" value="Clear" class="m-2 p-2 bg-gray-600 rounded" ></a>
          </div>
        </div>
      </form> 
    </div>

    

    <div class="container flex justify-center mx-auto">
      <div class="flex flex-col">
        <div class="w-full">
          <div class="border-b border-gray-200 shadow">
            <table class="divide-y divide-gray-300 ">
              <thead class="bg-gray-50">
                <tr>
                  <th class="px-6 py-2 text-xs text-gray-500">Exported time</th>
                  <th class="px-6 py-2 text-xs text-gray-500">Reason</th>
                  <th class="px-6 py-2 text-xs text-gray-500">Type</th>
                  <th class="px-6 py-2 text-xs text-gray-500">Message</th>
                </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-300">
                {{ range .Rows }}
                  <tr class="whitespace-nowrap">
                    <td class="px-6 py-4 text-sm text-gray-500">
                      Exported Time: {{ .ExportedTime.Format "2006-01-02T15:04:05" }} <br>
                      Event Time: {{ .EventTime.Format "2006-01-02T15:04:05" }} <br>
                      First Time: {{ .FirstTime.Format "2006-01-02T15:04:05" }} 
                    </td>
                  </td>
                    <td class="px-6 py-4">
                        <div class="text-sm text-gray-500">
                          {{ .Reason }} 
                        </div>
                    </td>
                    <td class="px-6 py-4 text-sm text-gray-500">
                      {{ .Type }} 
                    </td>
                    <td class="px-6 py-4 text-sm text-gray-900">
                      <b>{{ .Name }}</b><br>
                      {{ .Message }} 
                    </td>
                  </tr>
                {{ end }}
                  
              </tbody>
            </table>
          </div>
      </div>
    </div>
  </div>
    <br>

    <div class="container w-50 bg-yellow-400 mx-auto flex justify-between cursor-pointer rounded"     >
        {{  range $idx,$v := $.Pages }}
            <div>
              {{ if eq $idx $.Page }}<b><u>{{ end }}
              <a href="/?page={{ $idx }}&search={{ $.Search }}&dbegin={{$.Dbegin.Format "2006-01-02T15:04"}}&dend={{$.Dend.Format "2006-01-02T15:04"}}&reason={{ $.ReasonSelected}}&type={{ $.TypeSelected}}">{{ . }}</a>
              {{ if eq $idx $.Page }}</u></b>{{ end }}
            </div>
        {{ end }}
    </div>

  </body>
</html>
